<div class="key">
  <strong>Legenda:</strong>
  <span class="key-item key-waiting">Oczekiwanie</span>
  <span class="key-item key-positive">Pozytwny</span>
  <span class="key-item key-negative">Negatywny</span>
  <span class="key-item key-return">Zwrot</span>
</div>