<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Draw No Bet</title>
</head>
<body>
<header>
  <img class="logo" src="/img/logo.png" alt="Logo">
  <div class="nav">
    <ul class="nav-item">
      <a href="/">
        <button class="nav-btn">Strona główna</button>
      </a>
    </ul>
    <ul class="nav-item">
      <a href="/bet">
        <button class="nav-btn">Typy</button>
      </a>
    </ul>
    <ul class="nav-item">
      <a href="/stats">
        <button class="nav-btn">Statystyki</button>
      </a>
    </ul>
  </div>
</header>
{{{body}}}
<footer>
  <div class="socials">
    <i href="#" class="fa fa-facebook"></i>
    <i href="#" class="fa fa-youtube"></i>
    <i href="#" class="fa fa-twitter"></i>
    <i href="#" class="fa fa-google"></i>
  </div>
  
  <div class="copyright">
    Wszelkie prawa zastrzeżone &copy;
    <script type="text/javascript">
      document.write("2022 - "+ new Date().getFullYear());
    </script>
    Draw No Bet
  </div>
</footer>
</body>
</html>